<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @shipment_product.product %>
</p>

<p>
  <strong>Shipment:</strong>
  <%= @shipment_product.shipment %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @shipment_product.quantity %>
</p>

<%= link_to 'Edit', edit_shipment_product_path(@shipment_product) %> |
<%= link_to 'Back', shipment_products_path %>
