<%= form_with(model: shipment, local: true) do |form| %>
  <% if shipment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shipment.errors.count, "error") %> prohibited this shipment from being saved:</h2>

      <ul>
      <% shipment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :company_id %>
    <%= form.text_field :company_id %>
  </div>

  <div class="field">
    <%= form.label :international_transportation_mode %>
    <%= form.text_field :international_transportation_mode %>
  </div>

  <div class="field">
    <%= form.label :international_departure_date %>
    <%= form.date_select :international_departure_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
